@model Business.Models.ProductModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    <form asp-action="Add" method="post" asp-controller="Home" class="mt-4 p-4 w-75 mx-auto border shadow-md bg-light">
    <div class="d-flex flex-row justify-content-between">
        <h3 class="text-primary">Add A new Product</h3>
        <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Go Back</a>
    </div>
        <div class="mb-3">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Price"></label>
            <input asp-for="Price" type="number" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label>
                <input asp-for="IsFeaturedOutput" type="checkbox" />
                Feature
            </label>
        </div>
        <div class="mb-3">
            <label>
                <input asp-for="IsTopRatedOutput" type="checkbox" />
                    Top Rate
            </label>
        </div>
        <div class="mb-3">
            <label>
                <input asp-for="IsNearbyOutput" type="checkbox" />
                        Nearby
            </label>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Add Product</button>
        </div>
    </form>
}
